In [25]:
import pandas as pd
import json
            
filename = "iRobot Corp.json"
srings = []
with open(filename) as f:
    strings = f.readlines()
    
with open("new_" + filename, "w") as f:
    f.write("[")
    for string in strings:
        if string.find("time") == -1:
            continue
        else:
            f.write(string.replace("\n", ",\n"))
    f.write("]")    
    
df = pd.read_json("new_" + filename)
for i in range(len(df)):
    df.iloc[i, 6] = len(df.iloc[i, 6])
    df.iloc[i, 7] = len(df.iloc[i, 7])
df.drop_duplicates(subset="time", keep = 'first', inplace = True)
del df['face_value']
del df['trade_status']
df

,c,h,l,o,time,v,asks,bids,close_price,last_price,limit_down,limit_up,min_price_increment
0,126.20,126.20,126.20,126.20,2021-02-22 07:01:00+00:00,1,5,6,125.7,126.20,122.56,130.00,0.01
1,126.20,126.20,126.20,126.20,2021-02-22 07:03:00+00:00,7,4,8,125.7,126.20,122.56,130.00,0.01
2,126.20,126.20,126.14,126.14,2021-02-22 07:04:00+00:00,7,4,10,125.7,126.20,122.56,130.00,0.01
3,126.09,126.09,126.09,126.09,2021-02-22 07:08:00+00:00,1,8,11,125.7,125.09,122.00,128.01,0.01
4,125.09,125.09,125.09,125.09,2021-02-22 07:09:00+00:00,1,10,11,125.7,125.01,122.00,128.02,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,121.08,121.09,120.85,121.04,2021-02-22 20:52:00+00:00,2169,14,19,125.7,121.38,117.00,125.00,0.01
507,121.38,121.38,121.08,121.08,2021-02-22 20:53:00+00:00,1373,15,18,125.7,120.94,117.00,125.00,0.01
508,121.21,121.21,120.82,120.82,2021-02-22 20:55:00+00:00,1875,15,18,125.7,121.28,117.00,125.00,0.01
510,121.44,121.57,121.25,121.25,2021-02-22 20:57:00+00:00,5453,15,18,125.7,121.58,117.00,125.00,0.01
511,121.40,121.61,121.30,121.44,2021-02-22 20:58:00+00:00,15794,19,18,125.7,121.41,117.00,125.00,0.01